/*более 1920*/
@media screen and (min-width: 1921px) {
    #main, #advantages, #stock, #faq {
        background-size: 100%;
    }
}

/*от 1401 до 1700px*/
@media screen and (max-width: 1700px) {
    #services #lavender {
        z-index: -1;
        width: 20%;
    }
}

/*от 1231 до 1400px*/
@media screen and (max-width: 1400px) {
    #services #lavender {
        display: none;
    }
}

/*от 1024 до 1229px*/
@media screen and (max-width: 1229px) {

    #header #menu, #header .tel {
        width: 30%;
    }

    #advantages-container, #services-container, #masters-container, #gallery-container, #faq-container,
    #contacts-container, #contacts #addresses, #contacts .my_map {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #banner, #advantages-container, #services-container, #header-container,
    #services-products, #stock-container, #masters-container, #gallery-container,
    #contacts-container, #faq-container, #footer-container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;
    }

    #masters .masters-text, #services #services-text, #gallery .gallery-text {
        margin-left: auto;
        margin-right: auto;
        width: 61%;
        font-size: 20px;
    }

    #services #services-text {
        margin-bottom: 30px;
    }

    #services-products {
        flex-wrap: wrap;
        max-width: 800px;
        justify-content: space-evenly;
        margin: 0 auto;
    }

    #services .services-product {
        margin: 40px 0;
    }

    /*#stock {*/
    /*    background-position-x: 40%;*/
    /*}*/
    #masters .content-slick {
        width: 90px;
    }

    #masters .slick-initialized .slick-slide {
        justify-content: center;
    }

    #faq {
        background-size: auto 100%;
    }

    #faq-form {
        margin-top: 50px;
    }

    #faq-content {
        flex-wrap: wrap;
        justify-content: center;
    }


    #advantages #advantages-container .advantages-item {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #advantages #advantages-first-wrap, #advantages #advantages-second-wrap {
        justify-content: space-evenly;
        width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }

    #advantages #advantages-container .advantages-item span {
        margin-left: 0;
        margin-top: 20px;
        height: 70px;
    }

    #advantages #advantages-container .advantages-item span br {
        display: none;
    }
}

/*от 768 до 1023px*/
@media screen and (max-width: 1023px) {
    #header #menu, #header .tel {
        width: 35%;
    }

    #banner .block-title {
        width: 452px
    }

    #banner #banner-text {
        font-size: 18px;
        width: 60%;
    }

    #services .services-product {
        margin: 30px 20px;
    }

    #masters .slick-slide img {
        width: 350px;
    }

    #gallery {
        padding-bottom: 130px;
    }

    #stock {
        background-position-x: 40%;
    }

    #contacts .my_map {
        width: 430px;
    }

    #footer-container {
        /*flex-wrap: wrap;*/
        grid-template-columns: 1.5fr 2fr 1.5fr;
        grid-template-rows: 1fr 1fr;
    }

    #footer #icons {
        width: 200px;
        grid-row: 2/3;
        grid-column: 1/2;
    }

    #footer .logo {
        /*width: 100%;*/
        /*margin-bottom: 25px;*/
        grid-row: 2/3;
        grid-column: 2/3;
    }

    #footer .tel {
        justify-self: end;
        align-self: center;
        grid-row: 2/3;
        grid-column: 3/4;
    }

    #footer #schedule {
        grid-row: 1/2;
        grid-column: 3/4;
        align-self: end;
        justify-self: end;
    }
}

/*от 700 до 767px*/
@media screen and (max-width: 767px) {
    #main {
        background-position-x: 54%;
    }

    #burger {
        display: block;
    }

    #header #menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        margin: 0;
        padding-top: 30px;
        background: rgba(0, 0, 0, 0.9);
        top: 0;
        left: 0;
        z-index: 3;
    }

    #header #menu a.active {
        color: #8a1578;
    }

    #header #menu a {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 18px;
        color: #6c1a5f;
    }

    #header.menu-open #menu {
        display: flex;
    }

    #menu svg {
        display: block;
        width: 22px;
        fill: #6c1a5f;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #header .tel {
        width: 36%;
    }

    #banner {
        padding-top: 70px;
    }

    #banner .block-title {
        max-width: 250px;
    }

    #banner #banner-text br {
        display: none;
    }

    #banner #banner-text {
        width: 300px;
        font-size: 17px;
    }

    #advantages {
        padding-bottom: 120px;
    }

    #advantages #advantages-content {
        margin-top: 40px;
    }

    #advantages #advantages-container .advantages-item {
        margin: 30px 0;
        align-items: center;
    }

    #advantages #advantages-first-wrap, #advantages #advantages-second-wrap {
        flex-direction: column;
        margin-top: 0;
    }

    #services #services-text, #masters .masters-text, #gallery .gallery-text {
        max-width: 380px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #stock #stock-text {
        /*width: 73%;*/
    }

    #stock .block-title {
        width: 65%;
    }

    #masters .content-slick {
        width: 170px;
    }

    #faq .group, #faq .ui-accordion .ui-accordion-header, #faq-form,
    #faq .ui-accordion .ui-accordion-content {
        width: 370px;
    }

    #faq .ui-accordion .ui-accordion-header {
        padding: 30px 60px;
    }

    #faq-form-text {
        width: 100%;
        font-size: 16px;
    }

    #faq-form label input {
        padding: 10px 21px;
        width: 90%;
    }

    #faq button.btn {
        padding: 11px;
        width: 90%;
    }

    #contacts {
        padding-bottom: 105px;
    }

    #contacts-container {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    #contacts .my_map {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 300px;
    }

    #contacts-wrap {
        margin-bottom: 50px;
        margin-left: 0;
    }

    #contacts-img {
        z-index: -9;
        top: 0;
        left: -200px;
    }

    #footer-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 705px));
        grid-template-rows: repeat(3, 2fr) 1fr;
        grid-gap: 15px;
    }

    #footer #icons {
        justify-self: center;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #footer .logo {
        justify-self: center;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #footer #schedule {
        justify-self: center;
        grid-column: 1/2;
        grid-row: 3/4;
        align-self: center;
    }

    #footer .tel {
        justify-self: center;
        grid-column: 1/2;
        grid-row: 4/5;
    }

    #sign_up #sent-text {
        max-width: 280px;
    }

    #sign_up #sent {
        margin: 40px 0;
    }

    img.mfp-img {
        height: auto !important;
    }

    #stock #roses-stock {
        left: -20px;
    }

    #sign_up {
        padding: 40px;
    }

    #sign_up #sign_up-cancel {
        right: 4px;
    }

    #sign_up-container {
        overflow: scroll;
        align-items: flex-start;
        padding-top: 25px;
    }

    #sign_up-button {
        margin-top: 40px
    }

    #services #services-text, #masters .masters-text, #gallery .gallery-text {
        width: 100%;
        font-size: 16px;
    }

    #faq .error-input {
        margin-left: 30px;
    }
}


/*от 425 до 700px*/
@media screen and (max-width: 700px) {
    #stock #stock-text {
        width: 60%;
    }
}


/*от 375 до 424px*/
@media screen and (max-width: 424px) {
    #header .tel {
        width: 42%;
        font-size: 13px;
    }

    #masters .master-block-text {
        width: 200px;
    }

    #masters .master-block-text .master-name {
        margin-bottom: 10px;
    }

    #stock .block-title {
        width: 100%;
    }

    #masters .slick-slide img {
        width: 90%;
    }

    .mfp-container {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    #gallery .gallery-carousel img {
        width: 320px;
    }

    #faq .group, #faq .ui-accordion .ui-accordion-header, #faq-form, #faq .ui-accordion .ui-accordion-content {
        width: 100%;
    }

    #faq #faq-form-sent {
        margin: 55px 0;
    }

    #faq-form-rose {
        right: 10px;
    }

    #sign_up .sign_up-input input, #sign_up .sign_up-select select {
        width: 280px;
    }
}

/*от 320 до 374px*/
@media screen and (max-width: 374px) {
    .block-title {
        font-size: 27px;
    }

    #main {
        height: 770px;
    }

    #header .tel {
        display: none;
    }

    #banner .block-title {
        font-size: 33px;
    }

    #banner #banner-text {
        width: 100%;
    }

    #banner .banner-action {
        text-align: center;

    }

    #banner .btn {
        width: 90%;
    }

    #gallery .gallery-carousel img {
        width: 270px;
    }

    #gallery .slick-dots li {
        margin: 0 2px;
    }

    #gallery .gallery-content-slick {
        max-width: 255px;
    }

    #stock #stock-text {
        width: 100%;
    }

    #sign_up .sign_up-input input, #sign_up .sign_up-select select {
        width: 200px;
    }

    #sign_up div.sign_up-input, div.sign_up-select {
        margin-bottom: 15px;
    }

    #sign_up-button {
        margin-top: 30px;
    }

    #sign_up #sent-text {
        max-width: 200px;
    }

    #faq #faq-form-sent {
        margin: 30px 0;
    }

    #faq-form-text {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #faq #faq-form-sent-text {
        font-size: 24px;
    }

    #faq-form-rose {
        bottom: 0;
        right: 0;
    }

    #faq ::placeholder {
        font-size: 12px;
    }

    #contacts {
        background-size: 50%;
    }

    form .error-input {
        font-size: 10px;
        margin-left: 10px;
    }
}




